<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 비밀번호 찾기</title>
</head>
<body>
<h1> 회원 비밀번호 찾기</h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<form method="post">
    <div>
        <!-- name을 username으로 안할 경우 username parameter is empty in loadUserByUsername(String username) - spring boot 에러가 발생함. -->
        <input type="email" name="userEmail" placeholder="이메일을 입력해주세요">
    </div>
    <div>
        <button type="submit"> 비밀번호 초기화 요청</button>
    </div>
</form>
</body>
</html>