<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form method="post">
    <h2> 회원 가입 </h2>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
    <div>
        <input placeholder="이메일" name="email"/>
    </div>
    <div>
        <input placeholder="비밀번호" name="password"/>
    </div>
    <div>
        <input placeholder="거주지" name="location"/>
    </div>
    <div>
        <button> 회원 가입 하기</button>
    </div>
</form>
</body>
</html>